# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python Intermediate files
__pycache__/

# Visual Studio Code related
.vscode/

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Tizen related
/tizen/build/
/tizen/.metadata/
/tizen/Debug/
/tizen/Release/
/tizen/ms_log/
*.tpk
